<!doctype html>
<head>
  <title>{% block title %}Calendar{% endblock %}</title>
  
  <link rel='stylesheet' type='text/css' href="{{ STATIC_URL }}css/fullcalendar.css"/>
  <link rel='stylesheet' type='text/css' href="{{ STATIC_URL }}css/jquery-ui-1.8.21.custom.css"/>
  <link rel='stylesheet' type='text/css' href="{{ STATIC_URL }}css/application.css"/>
  
  <script src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>
  <script src="{{ STATIC_URL }}js/jquery-ui-1.8.21.custom.min.js"></script>
  <script src="{{ STATIC_URL }}js/underscore-min.js"></script>
  <script src="{{ STATIC_URL }}js/backbone-min.js"></script>
  <script src="{{ STATIC_URL }}js/fullcalendar.min.js"></script>
  <script src="{{ STATIC_URL }}js/backbone-tastypie.js"></script>
  
  <script>
    {% block resource_apis %} 
    {% endblock %}
  </script>
  {% block calendar_js %}
  {% endblock %}
  
</head>
<body>
  {% block calendar %}
  <div id='calendar'></div>
  {% endblock %}
  
  {% block dialog %}
  {% endblock %}
</body>
</html>
