{% extends "base.html" %}
{% load sekizai_tags cms_tags %}

{% block title %}{{ worker }}'s Planner{% endblock %}
{% block base_content %}
{% addtoblock "css" %}<link rel='stylesheet' type='text/css' href="{{ STATIC_URL }}css/fullcalendar.css"/>{% endaddtoblock %}
{% addtoblock "css" %}<link rel='stylesheet' type='text/css' href="{{ STATIC_URL }}css/jquery-ui-1.8.21.custom.css"/>{% endaddtoblock %}
{% addtoblock "css" %}<link rel='stylesheet' type='text/css' href="{{ STATIC_URL }}css/application.css"/>{% endaddtoblock %}

{% addtoblock "js" %}<script src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="{{ STATIC_URL }}js/jquery-ui-1.8.21.custom.min.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="{{ STATIC_URL }}js/underscore-min.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="{{ STATIC_URL }}js/backbone-min.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="{{ STATIC_URL }}js/fullcalendar.min.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="{{ STATIC_URL }}js/backbone-tastypie.js"></script>{% endaddtoblock %}

{% addtoblock "js" %}
  <script>
    PLANNER_API = "{% url api_dispatch_list api_name="v1" resource_name="planner_block" %}?worker__username={{ worker }}";

    Backbone.Tastypie.apiKey = {
        username: '{{ worker.username }}',
        key: '{{ worker.api_key.key }}'
    };
  </script>
{% endaddtoblock %}
{% addtoblock "js" %}<script src="{{ STATIC_URL }}js/planner_cal_app.js"></script>{% endaddtoblock %}

{% block calendar %}
  <div id='calendar'></div>
{% endblock %}
{% block dialog %}
  <div id='prefDialog' class='dialog ui-helper-hidden'>
    <form>
      <div> 
        <label>Preference:</label>
        <select id='prefBox' class="field">
          {% for p, pref in preferences %}
            <option value={{p}}>{{pref}}</option>
          {% endfor %}
        </select>
        <input id='user' type='hidden' value='/api/v1/user/{{ worker }}/'></input>
      </div>
    </form>
  </div>
{% endblock %}
{% endblock %} 
